p You can use this section to create a new document
.alert.alert-warning
    i.fa.fa-exclamation-triangle
    b Important
    p Use this only to create officially added worksheets, labsheeets etc uploaded on CMS or otherwise. To create your own custom documents, go to challenges section.
hr
input.form-control(class="new-material-input" placeholder="Name of the new material" maxlength=64 required)
br
p Some examples - 
    b Lab Sheet 1,
    b P3 Only Homework,
    b Midesm Part B
hr
.btn.btn-warning.submit-new-material Create Material
script(src="js/new-material.js")   