extends layout
block content
  .user
    .row
      .col-8
        img.profile(src=user.image)
        b=user.name
      .col-4
        a.btn.btn-secondary.float-right(onclick='signOut()') Logout
    hr
    h1.section Available modules
    .row.modules
      .col-6
        .card
          .card-img-top
            img(src="img/mouse.png", alt="")
          .card-body
            h5.card-title Material Solutions
            p.card-text
              | Find and post solutions to provided materials.
            a.btn.btn-primary(href='materials') Enter
      .col-6
        .card
          .card-img-top
            img(src="img/code.png", alt="")
          .card-body
            h5.card-title Content coming soon
            p.card-text
              | More material is coming soon. Stay tuned for updates.
            a.btn.btn-primary.disabled(href='#') ENTER
    hr
    h1.section About
    p CSBITS is a simple portal to help BITSians through their CS degrees. Designed and Developed by Divyanshu Agrawal
    script(src='https://apis.google.com/js/platform.js', async='', defer='')



